workflows/error_handler.json
{
  "name": "Error Handler",
  "nodes": [
    {
      "parameters": {},
      "id": "f507222d-8a5c-4b0d-af8c-7592b1dd5b28",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "errors",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow": "={{ $('Error Trigger').item.json.workflow.name }}",
            "node": "={{ $('Error Trigger').item.json.node.name }}",
            "message": "={{ $('Error Trigger').item.json.error.message }}",
            "payload": "={{ JSON.stringify($('Error Trigger').item.json) }}",
            "created_at": "={{ new Date().toISOString() }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Log Error to Database",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        460,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres_main",
          "name": "PostgreSQL Main"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition1",
              "leftValue": "={{ $env.SLACK_WEBHOOK_URL }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "Check Slack Config",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "options": {},
        "bodyParametersUi": {
          "parameter": [
            {
              "name": "text",
              "value": "🚨 *Workflow Error Alert*\n\n*Workflow:* {{ $('Error Trigger').item.json.workflow.name }}\n*Node:* {{ $('Error Trigger').item.json.node.name }}\n*Error:* {{ $('Error Trigger').item.json.error.message }}\n*Time:* {{ new Date().toISOString() }}\n{{ $('Error Trigger').item.json.execution?.id ? '*Correlation ID:* ' + $('Error Trigger').item.json.execution.id : '' }}"
            }
          ]
        }
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {},
      "id": "d4e5f6g7-h8i9-0123-def0-456789012345",
      "name": "No Slack Alert",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        900,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Log Error to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error to Database": {
      "main": [
        [
          {
            "node": "Check Slack Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Slack Config": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Slack Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "error_handler_workflow"
  },
  "id": "error_handler",
  "tags": []
}