workflows/sender_whatsapp.json
{
  "name": "WhatsApp Sender",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "sender-whatsapp",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "sender-whatsapp"
    },
    {
      "parameters": {
        "jsCode": "// Record start time for response time calculation\nconst startTime = Date.now();\n\n// Extract data from webhook payload\nconst payload = $input.first().json.body;\n\nreturn {\n  phone: payload.phone,\n  reply_text: payload.reply_text,\n  correlation_id: payload.correlation_id,\n  session_mode: payload.session_mode || 'text',\n  start_time: startTime,\n  language: payload.language || 'tr',\n  sentiment: payload.sentiment,\n  intent: payload.intent,\n  template_id: payload.template_id\n};"
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "Extract Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "session-mode-check",
              "leftValue": "={{ $json.session_mode }}",
              "rightValue": "text",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "name": "Check Session Mode",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },    {

      "parameters": {
        "url": "https://graph.facebook.com/v17.0/{{ $env.WA_PHONE_NUMBER_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.WA_PERMANENT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"text\",\n  \"text\": {\n    \"body\": \"{{ $json.reply_text }}\"\n  }\n}",
        "options": {}
      },
      "id": "d4e5f6g7-h8i9-0123-defg-456789012345",
      "name": "Send WhatsApp Text Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        200
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Prepare template message based on intent and language\nconst payload = $input.first().json;\nconst language = payload.language || 'tr';\nconst intent = payload.intent || 'general';\n\n// Map intents to template names\nlet templateName;\nswitch(intent.toLowerCase()) {\n  case 'booking':\n    templateName = 'booking_template';\n    break;\n  case 'pricing':\n    templateName = 'pricing_template';\n    break;\n  case 'greeting':\n  case 'general':\n  default:\n    templateName = 'outside24h';\n    break;\n}\n\n// For template mode, we need to use approved templates\n// This is a simplified version - in production you'd have pre-approved templates\nreturn {\n  phone: payload.phone,\n  template_name: templateName,\n  language_code: language === 'tr' ? 'tr' : 'en',\n  correlation_id: payload.correlation_id,\n  start_time: payload.start_time,\n  reply_text: payload.reply_text // Fallback text\n};"
      },
      "id": "e5f6g7h8-i9j0-1234-efgh-567890123456",
      "name": "Prepare Template Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "url": "https://graph.facebook.com/v17.0/{{ $env.WA_PHONE_NUMBER_ID }}/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.WA_PERMANENT_TOKEN }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"messaging_product\": \"whatsapp\",\n  \"to\": \"{{ $json.phone }}\",\n  \"type\": \"template\",\n  \"template\": {\n    \"name\": \"{{ $json.template_name }}\",\n    \"language\": {\n      \"code\": \"{{ $json.language_code }}\"\n    }\n  }\n}",
        "options": {}
      },
      "id": "f6g7h8i9-j0k1-2345-fghi-678901234567",
      "name": "Send WhatsApp Template Message",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        400
      ],
      "retryOnFail": true,
      "maxTries": 3,
      "waitBetweenTries": 2000,
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Calculate response time and determine outcome\nconst extractPayload = $('Extract Payload').first().json;\nconst startTime = extractPayload.start_time;\nconst responseTimeMs = Date.now() - startTime;\n\n// Check if the WhatsApp API call was successful\nconst apiResponse = $input.first();\nlet outcome = 'sent';\nlet errorMessage = null;\n\nif (apiResponse.error) {\n  outcome = 'failed';\n  errorMessage = apiResponse.error.message || 'WhatsApp API call failed';\n} else if (apiResponse.json && apiResponse.json.error) {\n  outcome = 'failed';\n  errorMessage = apiResponse.json.error.message || 'WhatsApp API returned error';\n}\n\nreturn {\n  correlation_id: extractPayload.correlation_id,\n  response_time_ms: responseTimeMs,\n  outcome: outcome,\n  error_message: errorMessage,\n  phone: extractPayload.phone,\n  session_mode: extractPayload.session_mode,\n  api_response: apiResponse.json\n};"
      },
      "id": "g7h8i9j0-k1l2-3456-ghij-789012345678",
      "name": "Calculate Response Metrics",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1340,
        300
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "messages",
          "mode": "name"
        },
        "updateKey": {
          "__rl": true,
          "value": "correlation_id",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "response_time_ms": "={{ $json.response_time_ms }}",
            "outcome": "={{ $json.outcome }}"
          },
          "matchingColumns": [
            {
              "column": "correlation_id",
              "value": "={{ $json.correlation_id }}"
            }
          ],
          "schema": []
        },
        "options": {}
      },
      "id": "h8i9j0k1-l2m3-4567-hijk-890123456789",
      "name": "Update Message Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        300
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "PostgreSQL Main"
        }
      }
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "messages_audit",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "correlation_id": "={{ $json.correlation_id }}",
            "platform": "whatsapp",
            "action": "message_sent",
            "outcome": "={{ $json.outcome }}",
            "response_time_ms": "={{ $json.response_time_ms }}",
            "error_message": "={{ $json.error_message }}",
            "api_response": "={{ JSON.stringify($json.api_response) }}",
            "phone": "={{ $json.phone }}",
            "session_mode": "={{ $json.session_mode }}"
          }
        },
        "options": {}
      },
      "id": "audit-log-whatsapp",
      "name": "Log Audit Trail",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1560,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "PostgreSQL Main"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "failed-outcome-check",
              "leftValue": "={{ $json.outcome }}",
              "rightValue": "failed",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "i9j0k1l2-m3n4-5678-ijkl-901234567890",
      "name": "Check if Failed",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1780,
        300
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "errors",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "workflow": "sender_whatsapp",
            "node": "Send WhatsApp Message",
            "message": "={{ $json.error_message }}",
            "payload": "={{ JSON.stringify({ correlation_id: $json.correlation_id, phone: $json.phone, session_mode: $json.session_mode, api_response: $json.api_response }) }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "j0k1l2m3-n4o5-6789-jklm-012345678901",
      "name": "Log Error",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        2000,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "PostgreSQL Main"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "slack-webhook-exists",
              "leftValue": "={{ $env.SLACK_WEBHOOK_URL }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "k1l2m3n4-o5p6-7890-klmn-123456789012",
      "name": "Slack Configured Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2220,
        200
      ]
    },
    {
      "parameters": {
        "url": "={{ $env.SLACK_WEBHOOK_URL }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyContentType": "json",
        "jsonBody": "={\n  \"text\": \"🚨 WhatsApp Sender Error\",\n  \"blocks\": [\n    {\n      \"type\": \"section\",\n      \"text\": {\n        \"type\": \"mrkdwn\",\n        \"text\": \"*WhatsApp message sending failed*\\n\\n*Correlation ID:* {{ $json.correlation_id }}\\n*Phone:* {{ $json.phone }}\\n*Session Mode:* {{ $json.session_mode }}\\n*Error:* {{ $json.error_message }}\\n*Response Time:* {{ $json.response_time_ms }}ms\"\n      }\n    }\n  ]\n}",
        "options": {}
      },
      "id": "l2m3n4o5-p6q7-8901-lmno-234567890123",
      "name": "Send Slack Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2440,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"status\": \"{{ $json.outcome }}\",\n  \"correlation_id\": \"{{ $json.correlation_id }}\",\n  \"response_time_ms\": {{ $json.response_time_ms }},\n  \"session_mode\": \"{{ $json.session_mode }}\",\n  \"message\": \"{{ $json.outcome === 'sent' ? 'WhatsApp message sent successfully' : 'WhatsApp message sending failed' }}\"\n}"
      },
      "id": "m3n4o5p6-q7r8-9012-mnop-345678901234",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2000,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Extract Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Payload": {
      "main": [
        [
          {
            "node": "Check Session Mode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Session Mode": {
      "main": [
        [
          {
            "node": "Send WhatsApp Text Message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Template Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Text Message": {
      "main": [
        [
          {
            "node": "Calculate Response Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Template Message": {
      "main": [
        [
          {
            "node": "Send WhatsApp Template Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send WhatsApp Template Message": {
      "main": [
        [
          {
            "node": "Calculate Response Metrics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Response Metrics": {
      "main": [
        [
          {
            "node": "Update Message Record",
            "type": "main",
            "index": 0
          },
          {
            "node": "Log Audit Trail",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Message Record": {
      "main": [
        [
          {
            "node": "Check if Failed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Failed": {
      "main": [
        [
          {
            "node": "Log Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Error": {
      "main": [
        [
          {
            "node": "Slack Configured Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Configured Check": {
      "main": [
        [
          {
            "node": "Send Slack Alert",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack Alert": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "sender-whatsapp-v1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "sender-whatsapp-workflow",
  "tags": []
}