workflows/whatsapp_intake.json
{
  "name": "WhatsApp Intake",
  "nodes": [
    {
      "parameters": {
        "path": "whatsapp-intake",
        "options": {}
      },
      "id": "f4b1c5e0-8b2a-4c3d-9e5f-1a2b3c4d5e6f",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "webhookId": "whatsapp-intake"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "verify-token-condition",
              "leftValue": "={{ $json.query['hub.verify_token'] }}",
              "rightValue": "={{ $env.META_VERIFY_TOKEN }}",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
      "name": "Verify Token Check",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query['hub.challenge'] }}"
      },
      "id": "b2c3d4e5-f6g7-8901-bcde-f23456789012",
      "name": "Return Challenge",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        200
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "Unauthorized",
        "responseCode": 401
      },
      "id": "c3d4e5f6-g7h8-9012-cdef-345678901234",
      "name": "Unauthorized Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        680,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize WhatsApp webhook payload\nconst payload = $input.all()[0].json;\n\n// Handle verification request (GET request with hub.mode=subscribe)\nif (payload.query && payload.query['hub.mode'] === 'subscribe') {\n  return [{ json: { \n    isVerification: true,\n    challenge: payload.query['hub.challenge']\n  }}];\n}\n\n// Handle message webhook (POST request with entry data)\nif (payload.body && payload.body.entry) {\n  const messages = [];\n  \n  for (const entry of payload.body.entry) {\n    if (entry.changes) {\n      for (const change of entry.changes) {\n        if (change.value && change.value.messages) {\n          for (const message of change.value.messages) {\n            if (message.text && message.text.body) {\n              const now = new Date();\n              const messageTime = new Date(parseInt(message.timestamp) * 1000);\n              const hoursDiff = (now - messageTime) / (1000 * 60 * 60);\n              const sessionMode = hoursDiff <= 24 ? 'text' : 'template';\n              \n              messages.push({\n                phone: message.from,\n                text: message.text.body,\n                timestamp: messageTime.toISOString(),\n                correlation_id: require('crypto').randomUUID(),\n                platform: 'whatsapp',\n                hours_since_message: hoursDiff,\n                session_mode: sessionMode,\n                within_24h: hoursDiff <= 24\n              });\n            }\n          }\n        }\n      }\n    }\n  }\n  \n  return messages.map(msg => ({ json: msg }));\n}\n\n// Return empty array if no valid data\nreturn [];"
      },
      "id": "d4e5f6g7-h8i9-0123-defg-456789012345",
      "name": "Normalize Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "verification-check",
              "leftValue": "={{ $json.isVerification }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e5f6g7h8-i9j0-1234-efgh-567890123456",
      "name": "Is Verification",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1120,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.challenge }}"
      },
      "id": "f6g7h8i9-j0k1-2345-fghi-678901234567",
      "name": "Verification OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "operation": "insert",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "name"
        },
        "table": {
          "__rl": true,
          "value": "messages",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "platform": "={{ $json.platform }}",
            "external_id": "={{ $json.phone }}",
            "sender": "={{ $json.phone }}",
            "correlation_id": "={{ $json.correlation_id }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "g7h8i9j0-k1l2-3456-ghij-789012345678",
      "name": "Insert Message Record",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1340,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "postgres-main",
          "name": "PostgreSQL Main"
        }
      }
    },
    {
      "parameters": {
        "url": "={{ $env.N8N_WEBHOOK_URL }}/webhook/processor",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "x-correlation-id",
              "value": "={{ $json.correlation_id }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "platform",
              "value": "whatsapp"
            },
            {
              "name": "timestamp",
              "value": "={{ $json.timestamp }}"
            },
            {
              "name": "correlation_id",
              "value": "={{ $json.correlation_id }}"
            },
            {
              "name": "phone",
              "value": "={{ $json.phone }}"
            },
            {
              "name": "session_mode",
              "value": "={{ $json.session_mode }}"
            }
          ]
        },
        "options": {}
      },
      "id": "i9j0k1l2-m3n4-5678-ijkl-901234567890",
      "name": "Call Processor",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1560,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK"
      },
      "id": "m3n4o5p6-q7r8-9012-mnop-345678901234",
      "name": "Final Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1780,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Verify Token Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Token Check": {
      "main": [
        [
          {
            "node": "Normalize Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Unauthorized Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Return Challenge": {
      "main": [
        []
      ]
    },
    "Normalize Payload": {
      "main": [
        [
          {
            "node": "Is Verification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Verification": {
      "main": [
        [
          {
            "node": "Verification OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Message Record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Message Record": {
      "main": [
        [
          {
            "node": "Call Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Processor": {
      "main": [
        [
          {
            "node": "Final Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "id": "whatsapp-intake",
  "tags": []
}